{%include ('eje1.html.twig'%)}
<html>
    <body>

        {%if numero==0%}
        <h2>El numero tipeado fue 0</h2>
        {%elseif numero==1%}
        <h2>El numero tipeado fue 1</h2>
        {%endif%}
    </body>
</hmtl>

