{%extends 'base.html.twig'%}

{%block body%}
    <div class="head">
        <strong>Carrito de compras</strong>
        <div style="float: right;">
            <button class="boton">Ver orden</button>
            <button class="boton">Salir</button>
</div>
</div>
<main>
<h2 class="title">Lista de productos</h2>
</main>
{%endblock%}
